body{
    background-color: rgb(26, 26, 26);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.conteiner{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 29);
    border-color: rgb(194, 194, 194);
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    height: 400px;
    width: 400px;
    
}

.login{
    color: rgb(255, 255, 255);
    
}

#inputNome{
    color: white;
    background-color: rgb(39, 39, 39);
    border-width: 1px;
    border-color: rgb(194, 194, 194); 
    border-style: solid;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    
}

#inputEmail{
    color: white;
    background-color: rgb(39, 39, 39);
    border-width: 1px;
    border-color: rgb(194, 194, 194); 
    border-style: solid;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

#inputSenha{
    color: white;
    background-color: rgb(39, 39, 39);
    border-width: 1px;
    border-color: rgb(194, 194, 194); 
    border-style: solid;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

#concluir{
    color: white;
    background-color: rgb(39, 39, 39);
    border-width: 1px;
    border-color: rgb(194, 194, 194); 
    border-style: solid;
    width: 100px;
    height: 30px;
    border-radius: 5px;

}


.divCadastro{
    position: absolute;
    top: 75%;
}

#cadastro{
    text-decoration: none;
    color: azure;
    
}
