body{
    background: 
    linear-gradient(rgb(172, 52, 172), rgb(255, 194, 82));

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    

}

#titulo{
    color: ;
}